<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarConnect</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/new.css" asp-append-version="true" />
    <link rel="manifest" href="/site.webmanifest">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>

        body {
            font-family: 'Roboto', sans-serif;
            font-size: 100%;
            margin-top: 0;
        }

        .nav-item {
            margin-right: 1rem;
            font-size: 120%;
        }

        .navbar {
            padding: 1rem;
        }

        .navbar-nav {
            align-items: center;
        }
    </style>
</head>
<body>
    <header style="z-index: 2;
            position: fixed;
            width: 100%;
            top: 0;">

        <nav class="navbar navbar-expand-sm navbar-dark p-3 bg-dark" id="headerNav" style="">
            <div class="container-fluid">
                <a class="navbar-brand d-block d-lg-none" href="#">
                    <img src="/images/CarConnect.png" height="80" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-area="" asp-controller="Home" asp-action="Cars">Автомобили</a>
                        </li>
                        <li class="nav-item d-none d-lg-block" style="text-align: center;">
                            <a class="nav-link mx-5" href="#">
                                <img src="/images/CarConnect.png" height="80" />
                            </a>
                            @if (Program.User != null)
                            {
                                <p class="navbar-text mx-2">@Program.User.FirstName @Program.User.LastName</p>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" asp-area="" asp-controller="Home" asp-action="Search">Поиск</a>
                        </li>
                        <li class="nav-item dropdown bg-dark">
                            <a class="nav-link mx-2 dropdown-toggle bg-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Меню
                            </a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="UserCars">Личные автомобили</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Личные данные</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="SearchGet">Поиск</a>
                                </li>
                                @if (Program.User == null)
                                {
                                    <li class="dropdown-item">
                                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Enter">Вход</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="dropdown-item">
                                        <form id="logoutForm" method="post" asp-controller="Home" asp-action="Logout">
                                            <button type="submit" class="btn btn-link nav-link">Выйти</button>
                                        </form>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    @if (Program.User == null)
    {
        <div class="container-xxl">
            <main role="main" style="padding-top: 130px;">
            @RenderBody()
        </main>
        </div>
    }
    else
    {
        <div class="container-xxl">
            <main role="main" style="padding-top: 180px;">
                @RenderBody()
            </main>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
