@using CarConnectContracts.ViewModels

@model List<CarViewModel>

@{
    ViewData["Title"] = "Автомобили";
}


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <style>


        .text-center {
            margin-top: 20px;
        }

        .btn-group {
            margin-bottom: 10px;
        }

        .card-body {
            margin-top: 20px;
        }

        body {
            background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#6c4079));
            background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
            background: -moz-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
            background: -o-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
            background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
        }

        }
    </style>
</head>

<body>
    <div class="text-center">
        <div class="btn-group flex-wrap">
            @if (Program.User == null)
            {
                <a class="btn btn-success mx-2 mb-3 text-nowrap" asp-action="Enter">
                    <i class="fas fa-car"></i> Добавить авто
                </a>
            }
            else
            {
                <a class="btn btn-success mx-2 mb-3 text-nowrap" asp-action="CarCreate">
                    <i class="fas fa-car"></i> Добавить авто
                </a>
            }
            <a class="btn btn-success mx-2 mb-3 text-nowrap" asp-action="Search">
                <i class="fas fa-camera"></i> Найти авто по фото
            </a>
            <a class="btn btn-success mx-2 mb-3 text-nowrap" asp-action="SearchGet">
                <i class="fas fa-search"></i> Найти авто
            </a>
        </div>

        <div class="row" row-cols-1 row-cols-md-3 g-4>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card rounded-2 mb-3" style="min-height: 600px;">
                        <img src="@item.Path" class="card-img-top" height="280">

                        <div class="card-body">
                            <div style="margin-bottom: 25px">
                                <img src="~/Files/license_plate_@(item.LicensePlate).png">
                            </div>
                            <p class="card-text">Бренд: @Html.DisplayFor(modelItem => item.Brand)</p>
                            <p class="card-text">Модель: @Html.DisplayFor(modelItem => item.Model)</p>
                            <p class="card-text">Год: @Html.DisplayFor(modelItem => item.Year.Year)</p>
                            <p class="card-text">Цвет: @Html.DisplayFor(modelItem => item.Colour)</p>

                        </div>
                        <div style="margin-top: auto; margin-bottom: 10px;" class="flex-wrap">
                            <a class="btn btn-primary btn-sm text-nowrap mb-2" style="min-width: 170px" asp-action="CarView" asp-route-LicensePlate="@item.LicensePlate">Детали</a>
                            @if (Program.User == null)
                            {
                                <a class="btn btn-primary btn-sm text-nowrap mb-2" style="min-width: 170px" asp-action="Enter">Отзывы</a>
                            }
                            else
                            {
                                <a class="btn btn-primary btn-sm text-nowrap mb-2" style="min-width: 170px" asp-action="CarViewReview" asp-route-LicensePlate="@item.LicensePlate">Отзывы</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>